<h1 class="title">Login</h1>
<form [formGroup]="loginForm" class="form-container">
  <mat-form-field appearance="fill" class="input">
    <mat-label>Email</mat-label>
    <input matInput required autocomplete="off" formControlName="email" type="email">
    <mat-error *ngIf="loginForm.controls['email'].errors?.required">Email is required</mat-error>
    <mat-error *ngIf="loginForm.controls['email'].errors?.pattern">Wrong email format</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="input">
    <mat-label>Password</mat-label>
    <input matInput required autocomplete="off" formControlName="password" type="password">
    <mat-error>Password is required</mat-error>
  </mat-form-field>
</form>
<div class="button-container">
  <button mat-raised-button color="accent" class="login-button" (click)="login()">Login</button>
  <div>Don't have an account ? <a [routerLink]="['/signUp']" routerLinkActive="active" class="sign-up">Sign up</a></div>
</div>
